**/*.CM
**/data_input
**/.DS_Store
**/node_modules/*
Processing/generateData/outputData
Processing/generateData/config.json
**/result
**/libsvm-3.20
**/liblinear-1.96
Arduino-SVM-master/Model_Examples/data*
Arduino-SVM-master/Model_Examples/range
